@font-face {
    font-family: "Degular Display";
    src: url('Web/Degular_Display-Light.woff2') format('woff2'),
         url('Web/Degular_Display-Light.woff') format('woff');

}


#outer {
    width: 100vw;
    height: 80vh;
    position: relative;
    text-align: center;

}

#img_container {
    margin: auto;
}

img {
    margin: auto;
    max-width: 100vw;
    max-height: 80vh;
}

#container {
    position: absolute;
    bottom: 1%;
    left: 22%;
    width: 50%;
    height: 20%;
    z-index: 1;
    text-align: center;
    display: block;

}

body {
    font-family: "Degular Display";
    font-size: 22pt;
}

#bio {
    font-size: 12pt;
    border-radius: 20px;
    background-color: #F8F8F8;
    opacity: 60%;
    margin-top: 2vh;
    position: absolute;
    z-index: 1;
    top: 2%;
    left: 18%;
    width: 70vw;
    height: 10vh;
    visibility: hidden;

}


@media only screen and (max-width: 500px) {

    #img_container {
        height: 100%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    body {
        font-family: "Degular Display";
        font-size: 15pt;
    }
    

    #container {
        top: 55%;
        left: 20vw;
    }


    #bio {
        top: 90%;
        left: 12%;
        font-size: small;
    }
}

#name {
    background-image: url("http://www.gimpuj.info/gallery/16278_15_07_09_4_24_56.gif");
    background-size: cover;
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Raleway";
    /*color:rgb(41, 84, 78)*/
}



a {
    text-decoration: none;
    color: rgb(131, 131, 131);
}

a:hover {
    color: midnightblue;
}

area:hover {
    cursor: pointer;
}

