@font-face {
    font-family: "Degular Display";
    src: url('Web/Degular_Display-Light.woff2') format('woff2'),
         url('Web/Degular_Display-Light.woff') format('woff');

}

@font-face {
    font-family: "Chinook";
    src: url('Chinook-Freebie.otf') format('opentype');
}


#outer {
    width: 100vw;
    height: 80vh;
    position: relative;
    text-align: center;

}

#img_container {
    margin: auto;
}

img {
    margin: auto;
    max-width: 100vw;
    max-height: 80vh;
}

#container {
    position: absolute;
    bottom: 1%;
    left: 22%;
    width: 50%;
    height: 20%;
    z-index: 1;
    text-align: center;
    display: block;

}

body {
    font-family: "Degular Display";
    font-size: 22pt;
}



@media only screen and (max-width: 500px) {

    #img_container {
        height: 100%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    body {
        font-family: "Degular Display";
        font-size: 15pt;
    }
    

    #container {
        top: 50%;
        left: 20vw;
    }
}

#name {
    background-image: url("http://www.gimpuj.info/gallery/16278_15_07_09_4_24_56.gif");
    background-size: cover;
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Raleway";
}



a {
    text-decoration: none;
    color: rgb(131, 131, 131);
}

a:hover {
    color: midnightblue;
}


#backdoor {
    position: absolute;
    top: 28%;
    left: 35%;
    background-color: transparent;
    height: 18vh;
    width: 2.2vw;
    cursor: pointer;
}


#face {
    background-color: transparent;
    position: absolute;
    top: 35%;
    left: 16.5%;
    height: 19vh;
    width: 8vw;
    cursor: pointer;
}


#necklace {
    background-color: transparent;
    position: absolute;
    top: 61.5%;
    left: 20.5%;
    height: 3.5vh;
    width: 2vw;
    cursor: pointer;
}

#tv {
    background-color: transparent;
    border-radius: 25%;
    position: absolute;
    top: 39%;
    left: 59%;
    height: 17vh;
    width: 12vw;
    cursor: pointer;
}