
#img_container {
    /*display: grid;*/
    float: center;
    height: 70%;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 70%;
}

body {
    font-family: 'Raleway';
}



#container {
    
    top: 80%;
    display: block;
    text-align: center;

}

@media only screen and (max-width: 500px) {

    #img_container {
        height: 100%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    #container {
        top: 40%;
        left: 30vw;
    }
}

#name {
    background-image: url("http://www.gimpuj.info/gallery/16278_15_07_09_4_24_56.gif");
    background-size: cover;
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



a {
    text-decoration: none;
    color: rgb(131, 131, 131);
}

a:hover {
    color: midnightblue;
}


#backdoor {
    position: absolute;
    top: 28%;
    left: 35%;
    background-color: transparent;
    height: 18vh;
    width: 2.2vw;
    cursor: pointer;
}


#face {
    background-color: transparent;
    position: absolute;
    top: 35%;
    left: 16.5%;
    height: 19vh;
    width: 8vw;
    cursor: pointer;
}


#necklace {
    background-color: transparent;
    position: absolute;
    top: 61.5%;
    left: 20.5%;
    height: 3.5vh;
    width: 2vw;
    cursor: pointer;
}

#tv {
    background-color: transparent;
    border-radius: 25%;
    position: absolute;
    top: 39%;
    left: 59%;
    height: 17vh;
    width: 12vw;
    cursor: pointer;
}